body{
    background:grey;
}

h1 {
    background:black;
    color:aquamarine;
    font-weight: bold;
    padding: 16;
}

h2 {
    background:white;
    color:violet;
    font-weight: bold;
    padding: 16;
}